*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home ul li{
    list-style-type: none;
    width: 1rem;
    gap: 15px;
    padding-top: 14px;
} 